{% extends 'base.html.twig' %}

{% block title %}Mot de passe réinitialisé
{% endblock %}

{% block body %}
	<div class="container">
		<h1>✅ Mot de passe réinitialisé</h1>
		<p>Votre mot de passe a été mis à jour avec succès.</p>
		<p>Vous pouvez maintenant
			<a href="{{frontend_url}}/login">vous connecter</a>
			avec votre nouveau mot de passe.</p>
	</div>
{% endblock %}
