@import "tailwindcss";

@theme {
  --color-light-green: #d5dfd4;
  --color-dark-green: #114e4b;
  --color-black: #04050a;
  --color-white: #fbfbfb; /* or ffffff ? */
  --color-light-grey: #f2f2f2;
  --color-grey: #5e5e5e;
  --color-red: #f93a3a;

  --font-default: 'Montserrat', 'sans-serif';

}

@font-face{
  font-family: Montserrat;
  font-style: bold;
  font-weight: 100 900;
  font-display: swap;
  src:url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') format()
}